{% extends 'base.html' %}
{% block content %}

<h1>Vessel List</h1>
<hr>
<div class="container">
   <div class="row">
      {% for vessel in vessel_list %}
      <div class="card col-sm-4 m-1">
         <div class="card-body">
            <a href="{%url 'vessels_detail' vessel.id%}" />
            <h4 class="card-title">{{vessel.name}}</h4>
            </a>
            <p>Color: {{vessel.color}}</p>
            <p>Description: {{ vessel.description }}</p>
         </div>
      </div>
      {% endfor %}
   </div>
</div>


{% endblock %}