  
{% extends 'base.html' %}
{% block content %}

<h1>Vessel Details: {{vessel.name}}</h1>
<hr>
<div class="container">
   <div class="row">
      <div class="card col-md-6">
         <div class="card-body">
            <h4 class="card-title">{{vessel.name}}</h4>
            <p>Color: {{ vessel.color }}</p>
            <p>Description: {{vessel.description}}</p>
            <a class="btn btn-rounded btn-primary" href="{% url 'vessels_update' vessel.id %}" class="card-link">Edit</a>
            <a class="btn btn-rounded btn-danger" href="{% url 'vessels_delete' vessel.id %}" class="card-link">Delete</a>
          </div>
      </div>
   </div>
</div>

{% endblock %}