{% extends 'base.html' %} {% block content %}

<hr />
<div class="container">
  <h1>About Tilly-Tracker</h1>
  <div>
    <h2>Using This App</h2>
    <br />
    <p>
      This full-stack Django Web App allows users to make a profile, keep track
      of their air plants, and different objects you can mount your plants on.
      You can also keep track how often you water your air plants by misting or
      soaking and if you gave them fertilizer.
    </p>
  </div>
  <div>
    <h2>About Air Plants</h2>
    <br />
    <p>
      Air Plants belong to the genus
      <a href="https://en.wikipedia.org/wiki/Tillandsia" target="_blank"
        ><em>Tillandsia</em></a
      >. Like their close cousins the Bromeliads, they often grow epiphyitcally,
      meaning attached to other plants. With their minimal care needs and
      ability to be mounted on nearly anything, they have become a staple for indoor gardens and beautifying even the smallest of spaces.
    </p>
  </div>
  <div>
    <h2>About This Web App</h2>
    <br />
    <p>This Web App was lovingly made with:</p>
    <ul>
        <li>Django</li>
        <li>Bootstrap 4</li>
        <li>Paper UI Kit by Creative Tim</li>
    </ul>
  </div>
</div>

{% endblock %}
