{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tilly Tracker</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/paper-kit.css'%}" />
    <link rel="stylesheet" href="{% static 'css/local-styles.css'%}" />
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">Tilly Tracker</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vessels_create' %}"
                >Add A Vessel</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vessels_index' %}"
                >View All Vessels</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'plants_create' %}"
                >Add a Tilly</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}"
                >View all my Tillies</a
              >
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"
                >Log Out</a>
            </li>
            {% else %}
             <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer fixed-bottom">
      <div class="right">
        All Rights Reserved, &copy; 2021 Tilly Tracker &nbsp;
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/paper-kit.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <!-- javascript for date-picker init -->
    <script>
      $(".datetimepicker").datetimepicker({
        icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-chevron-up",
          down: "fa fa-chevron-down",
          previous: "fa fa-chevron-left",
          next: "fa fa-chevron-right",
          today: "fa fa-screenshot",
          clear: "fa fa-trash",
          close: "fa fa-remove",
        },
      });
    </script>
  </body>
</html>
