{% extends 'base.html' %} {% block content %}

<h1>Plant Details</h1>
<hr />
<div class="container">
  <div class="row">
    <div class="card col-md-6">
      <div class="card-body">
        <h4 class="card-title">{{plant.name}}</h4>
        <p>Species: T. {{ plant.species }}</p>
        <p>Description: {{ plant.description }}</p>
        {% if plant.age > 1 %}
        <p>Age: {{ plant.age }}</p>
        {% else %}
        <p>Age: Seedling</p>
        {% endif %}
        <a
          class="btn btn-rounded btn-primary"
          href="{% url 'plants_update' plant.id %}"
          class="card-link"
          >Edit</a
        >
        <a
          class="btn btn-rounded btn-danger"
          href="{% url 'plants_delete' plant.id %}"
          class="card-link"
          >Delete</a
        >
      </div>
    </div>
    <div class="col-md-6">
      <form method="post" action="{% url 'add_watering' plant.id %}">
        {% csrf_token %} {{ watering_form.as_p }}
        <input type="submit" class="btn" value="Add Watering" />
      </form>
      <div>
        <a href="{% url 'reset_watering' plant.id %}" class="btn btn-warning">RESET WATERINGS</a>
      </div>
      <br />
      {% if plant.watered_for_week == 0 %}
      <p>{{plant.name}} might need watering</p>
      {% elif plant.watered_for_week <= 2 %}
      <p>{{plant.name}} has been appropriately watered for this week</p>
      {% else %}
      <p>{{plant.name}} might be overwatered!</p>
      {% endif %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Watering</th>
          </tr>
        </thead>
        <tbody>
          {% for watering in plant.watering_set.all %}
          <tr>
            <td>{{watering.date}}</td>
            <td>{{watering.get_type_display}}</td>
            <td><a href="{% url 'delete_watering' watering.plant_id watering.id  %}">DELETE</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Containers for {{plant.name}}</h2>
      {% if plant.vessels.count %} {% for vessel in plant.vessels.all %}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{vessel.color}}-{{vessel.name}}</h4>
        </div>
      </div>
      {% endfor %} {% else %}
      <h5>{{plant.name}} has not yet tried any containers :(</h5>
      {% endif %}
    </div>
    <div class="col-md-6">
      <h2>Available Containers</h2>
      {% if vessels.count %} {% for vessel in vessels.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            A
            <span style="color: {{ vessel.color }}">{{ vessel.color }}</span>
            {{vessel.name}}
          </span>
        </div>
        <div class="card-action">
          <form
            action="{% url 'assoc_vessel' plant.id vessel.id %}"
            method="post"
          >
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
      {% endfor %} {% else %}
      <h5>{{plant.name}} Already Has All Vessels Available</h5>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
